#ajax_update.clearfix
  #middle.clearfix
    #pagination
      = will_paginate @assets, :inner_window => 1, :outer_window => 0
    = render :partial => 'view_select'
  #content
    %table#assets.index
      %thead
        %tr
          %th Image title
          %th Image size
      %tbody
        - @assets.each do |asset|
          %tr
            %td
              %a{:href => '#'} 
                = asset.title
              %span.image_sizes{:style => "display:none;"}
                = render :partial => 'images_sizes', :locals => {:asset => asset}
            %td= asset.width.to_s + 'px x ' + asset.height.to_s + 'px'
        -if @assets.empty?
          %tr
            %td.no_results{:colspan => 4} No results!
