#assets_table.clearfix
  #tp_middle.clearfix
    #tp_pages
      = will_paginate @assets, :inner_window => 1, :outer_window => 0

    = render :partial => 'view_select'

  #tp_assets_holder
    %ul#tp_assets.tp_asset_images.clearfix
      - @assets.each do |asset|
        %li
          %a{:href => '#'}
            %span.tp_asset_image
              %img{:src => asset.thumbnail(:thumbnail)}
            %span.tp_asset_title
              = truncate(asset.title, 16)
            %span.tp_image_sizes{:style => "display:none;"}
              = render :partial => 'images_sizes', :locals => {:asset => asset}
      -if @assets.empty?
        %li.no_results No results!

= hidden_field_tag(:type, 'pages')        