#tp_body
  #tp_top.clearfix
    .left
      = render :partial => "images_toolbar"
    .right
      = render :partial => "upload"    
    
  = show_flash_message

  #tp_bd.clearfix
    = render :partial => 'images_images' if params[:view] == "thumbnails"
    = render :partial => 'images_titles' if params[:view] == "text_list"