#tiny_paper
  #top.clearfix
    .left
      -# = render :partial => "images_toolbar"

      - form_tag({}, {:id => "filter_form", :method => :get}) do
        %table
          %tr
            %td
              %label{:for => 'search'} Filter:
          %tr
            %td
              #filter
                = text_field_tag :search, params[:search], :autocomplete => 'off'
                :javascript
                  new Form.Element.DelayedObserver('search', 0.4, function(element, value) {
                    when_starting();
                    new Ajax.Updater('ajax_update', '/admin/tiny_paper/images', {
                      asynchronous:true,
                      evalScripts:true,
                      method:'get',
                      onComplete: function(request){when_completing()},
                      parameters: 'search=' + escape(value) + '&p=1' + '&authenticity_token=' + encodeURIComponent('#{form_authenticity_token}')
                    })
                  })
                = reset_filters_tag
            %td
              %img{:id => "spinner", :style => "display:none", :src => "/images/admin/spinner.gif", :alt => "loading"}
    .right
      = render :partial => "upload"
    
  = show_flash_message

  #bd.clearfix
    = render :partial => 'images_images' if params[:view] == "thumbnails"
    = render :partial => 'images_titles' if params[:view] == "text_list"
  = hidden_field_tag(:type, "images")
  %p.close_link
    = link_to "Cancel", "#", :onclick => "tinyMCEPopup.close(); return false"
